.code{
    background-color:@grey-basic;
    text-align: left;
    padding: 20px;
    margin-bottom: 40px;
}

.tag
{
    color: @code-tokens;
    display: block;

    &--child{
        margin-left: 45px;
    }

    &__div, &__prop{
        margin-right: 5px;
        color: @code-purple;
    }
    &__class{
        color: @code-green;
    }
    &__atr{
        color:#07a;
    }

    &__content{
        margin-left: 65px;
        font-size: 20px;
    }
    &__value{
        color:#000;
    }
}

.code.hide
{
    .tag
    {
        color: @grey-basic;
        &--child{
            color: @grey-basic;
        }

        &__div, &__prop{
            color: @grey-basic;
        }
        &__class{
               color: @grey-basic;
        }
        &__atr{
               color: @grey-basic;
        }

        &__content{
              color: @grey-basic;
        }
        &__value{
           color: @grey-basic;
        }

    }
}
